<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pierwszy</title>
</head>
<body>
    <h3>To jest strona pierwsza.</h3>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at, consectetur corporis debitis deserunt distinctio eligendi, fugit ipsam non quasi recusandae rerum. Accusamus, dolor, recusandae! Consequuntur illo maiores sequi voluptas?
    <br/>
    <br/>
<!--    Zahardcodowany endpoint-->
<!--    Przejdź do strony <a href="/links/second/">drugiej</a>.-->
    Przejdź do strony <a href="{% url 'second' %}">drugiej</a>.
</body>
</html>