<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drugi</title>
</head>
<body>
    <h3 style="color: yellow;">To jest strona druga.</h3>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi assumenda ducimus ea esse explicabo fugit, in laudantium optio voluptatibus! Assumenda ea iure necessitatibus? Expedita illum odio reiciendis sed similique?
    <br/>
    <br/>
<!--    Przejdź do strony <a href="/links/third/111/">trzeciej</a>.-->
        Przejdź do strony <a href="{% url 'third' 'abc'%}">trzeciej</a>.
</body>
</html>