<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body style="padding:1%">
    <h3>Zmodyfikuj zadanie numer {{ task.id }}:</h3>
    <form method="POST" style="display: inline;">
        {% csrf_token %}
        <input type="text" name="task" value="{{ task }}">
        <input type="submit" value="Modyfikuj" class="btn btn-primary">
    </form>
    <form method="POST" action="{% url 'form4:delete' task.id %}" style="display: inline;">
        {% csrf_token %}
        <input type="submit" value="Usuń" class="btn btn-danger">
    </form>
</body>
</html>